
.order-sec {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-land) {
    margin: 2em 1em;
    flex-direction: column;
  }

  & div {
    display: flex;
    height: 100%;
    @include respond(tab-land) {
      width: 100%;
    }

    & button {
      &:not(:last-child) {
        margin-right: 1rem;
      }

      @include respond(tab-land) {
        margin-top: 2rem;
        width: 100%;
      }
    }
  }

  & h4 {
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase;

    & span {
      color: $warning;
    }
  }
}




