*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import "mixins";

html {
  box-sizing: border-box !important;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  background-color: #1a191f;
  font-size: 1.5rem;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  color: rgba($color: $white, $alpha: 0.5);
  overflow-x: hidden;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & a {
    text-decoration: none;
  }

  & ul {
    list-style-type: none;
  }

  & h1 {
    font-size: 2.93em;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    line-height: 1.33;
    font-weight: 600;
    margin-bottom: 0;
    color: $white;
  }

  & h2 {
    font-size: 2.3em;
  }

  & button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  & input {
    background: $main-color;
    width: 100%;
    padding: 1.6rem 1.8rem;
    transition: all 0.3s ease;
  }

  & textarea {
    font-family: inherit;
    font-size: 1.4rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include respond(phone) {
    padding: 0;
  }
}

img {
  position: relative;
  max-width: 100%;
}

#__next {
  height: 100%;
}

#__next-prerender-indicator {
  display: none;
}

.nav-link {
  font-size: inherit;
}

.Toastify {
  &__toast--success {
    background: $green !important;
  }

  &__toast--error {
    background: $danger !important;
  }

  &__toast--warning {
    background: $warning !important;
    color: $black;
  }

  &__close-button {
    color: $white !important;

    &--error {
      border: none;
    }
  }
}

.badge {
  border-radius: 50% !important;
  width: 2rem !important;
  padding: 0.25rem 1rem;
  font-size: 1.4rem;
  background: $light;
  cursor: pointer;

  &-dark {
    color: $white;
    background: $dark;
  }

  &-warning {
    color: $black;
    background: $warning;
  }

  &-primary {
    color: $white;
    background: $primary;
  }
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.noPage {
  @include absCenter();

  & img {
    max-width: 100%;
  }

  & p {
    font-size: 2.1rem;
    text-align: center;
    color: rgba($color: $white, $alpha: 0.5);
  }
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}



.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}



.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: block;
  position: relative;
  margin-top: 70px;
  padding: 40px 0 10px;
}

@media screen and  (min-width: 1200px) {
  .main {
    padding: 0 15px 30px 295px;
    margin-top: 0;
  }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 40px 0 30px;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}


h3 {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1310px) {
  .container {
      max-width: 1310px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}


@media screen and (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
}

@media screen and (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
}
}


@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
}
}

@media screen and (min-width: 1200px) {
  .container, .container-md, .container-sm {
    max-width: 1140px;
}
}
