@import "partials/fonts";
@import "partials/base";
@import "partials/button";
@import "partials/utils";
@import "partials/card";
@import "partials/cart";
@import "partials/plyr";
@import "partials/header";
@import "partials/admin";

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 10rem;
}

.form {
  max-width: 768px;
  padding: 4.5rem 3.5rem;
  border-radius: 5px;
  margin: 2rem auto;
  background: $secondary;

  .row {
    display: flex;
    width: 100%;

    @include respond(phone) {
      display: block;

      & .col {
        width: 100%;
      }
    }

    & .col {
      flex: 1 1 40rem;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &-header {
    margin-bottom: 2rem;
    color: rgba($white, 0.5);
  }

  &-group {
    width: 100% !important;
    margin-bottom: 2.4rem;
    position: relative;
  }

  &-control {
    outline: none;
    padding: 1.8rem 2rem;
    border-radius: 0.6rem;
    color: $white;
    font-size: inherit;
    border: 1px solid $main-color;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);

    &:focus {

      border: 1px solid $main-color;
      box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid $primary;
    }

    &:focus:invalid {
      border: 1px solid $text-color;
      border-bottom: 3px solid $orange;
      color: $orange;
    }
  }

  &-control:focus:valid ~ &-label {
    position: absolute;
    top: -30%;
    left: 1.8rem;
    font-size: 1.8rem;
    color: rgba($white, 0.5);
    background: $main-color;
    padding: 0.2rem 0.8rem;
    border-radius: 0.4rem;
    opacity: 1;
    visibility: visible;
  }

  &-label {
    position: absolute;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    top: 25%;
    left: 1.6rem;
    opacity: 0;
    visibility: hidden;
  }

  & .title {
    text-align: center;
    font-weight: 400;
    padding-bottom: 4.5rem;
    font-size: 3.2rem;

    & span {
      color: $primary;
      font-size: 2.8rem;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba($white, 0.5);

    & a {
      color: $primary;
    }

    & .text-sec {
      display: flex;

      @include respond(phone) {
        display: block;

        & .submit-button {
          width: 100%;
        }

        p {
          text-align: center;
        }
      }

      & p:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

.title {
  padding-bottom: 25px;
}

.container {
  width: calc(100vw - 4em);
  margin: auto;

  @include respond(tab-port) {
    width: calc(100vw - 2em);
  }
}

.error {
  color: $orange;
  margin-top: 1rem;

  &-input {
    border: 1px solid $orange;
    color: $orange;
  }
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

textarea {
  width: 100%;
  background: $main-color;
}
