@import "partials/mixins";
@import "partials/button";
@import "partials/header";

a:not([href]) {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: #ffd80e;
  }
}

a {
  cursor: pointer;
}

.main__table thead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.7);

  & tr {
    padding: 2rem 0;
  }
}

.OverflowTable {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.OverflowTable table {
  width: 100%;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);

  & tr {
    background: $secondary;
    border-bottom: 0.4rem;
  }
}

.image-container {
  max-width: 6rem;
  position: relative;

  & img {
    max-width: 100%;
  }
}

.order-sec {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  align-items: center;

  & a:not(last-child) {
    margin-right: 0.5rem;
  }

  @include respond(tab-land) {
    flex-direction: column;
  }

  @include respond(tab-port) {
    div {
      display: block;

      button {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }
  }

  & span {
    color: $warning;
  }
}

.delete-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & span {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: $primary;
    margin-right: 0.4rem;
    cursor: pointer;

    p {
      margin: 0;
      cursor: pointer;
    }
  }
}

.badge-btn:nth-child(2) {
  background: $success;
}

.profile__textarea {
  width: 100%;
  background-color: rgba(210, 201, 255, 0.04);
  border: 1px solid transparent;
  color: #fff;
  font-size: 16px;
  // line-height: 0.4px;
  width: 100%;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0.6rem 20px;
}

.page {
  margin-top: 5em;

  @include respond(phone) {
    margin-top: 0;
  }
}

.plyr {
  width: 100%;
  position: relative;

  & video {
    outline: none !important;
    height: 100%;
  }

  & div {
    max-width: 100% !important;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

#reactFlowPlayer > a {
  visibility: hidden;
}

select {
  & option {
    background: $secondary;
    border: none !important;
    outline: none !important;

    &:hover {
      background: $warning;
    }
  }
}

input[type="file"] {
  padding: 0;
  &::-webkit-file-upload-button {
    background: $warning;
    padding: 0.8rem;
    color: $black;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 3rem 3rem 0;
    -webkit-border-radius: 0 3rem 3rem 0;
    -moz-border-radius: 0 3rem 3rem 0;
    -ms-border-radius: 0 3rem 3rem 0;
    -o-border-radius: 0 3rem 3rem 0;
  }
}

body::-webkit-scrollbar {
  display: none;
}
