// ghetto-hustlers-colors;
$main-color: #1f1f1f;
$main-light: #3a3a3b;
$secondary: #282828;
$text-color: #404040;

$lightGrey: #f3f5f9;
$primary: #2998ff;
$dark: #05022a;
$white: #ffffff;
$blue-dark: #5643fa;
$orange: #ff7730;
$grey: #ccc;
$danger: #fa804c;
$blue: #465eef;
$success: #47d2c1;
$light: #f5f6f7;
$bg-light: #edf0f3;
$dark-light: #2c303a;
$warning: #ffc107;
$black: #000;

$darkblue: #2b2f8e;
$lightblue: #404499;
$purple: #7635c7;
$grey-light: #eee7e3;
$real-blue: #3369f4;
$green: #23b782;
$yellow: #f0a637;
$text-gray: #696765;

$breakpoint-sm: 36em;
$breakpoint-md: 48em;
$breakpoint-lg: 62em;
$breakpoint-xl: 75em;
$breakpoint-xxl: 112.5em;
